# Backend
backend/.phpunit.cache
backend/node_modules
backend/public/build
backend/public/storage
backend/storage/*.key
backend/vendor
backend/.env
backend/.phpunit.result_cache
backend/Homstead.json
backend/Homstead.yaml
backend/auth.json
backend/npm-debug.log
backend/yarn-error.log
backend/.fleet
backend/.vscode
backend/.idea

# Frontend
# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
